<div>
  <label>Title</label>
  <input type="text" name="title" value="<%= schedule.title %>" />
</div>
<div>
  <label>Schedule</label>
  <textarea name="entry"><%= schedule.entry %></textarea>
</div>
