<h1>Edit Entry</h1>

<form action="/schedules/<%= schedule.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/schedules/<%= schedule.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>
